# DataBase
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

# Frontend
VITE_API_URL=

# Backend

FLASK_ENV=
SECRET_KEY=

# Autenticação JWT
JWT_SECRET_KEY=troque-por-uma-chave-segura-em-producao-min-32-chars
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

#Storage

STORAGE_BACKEND=gcs

GCS_BUCKET_NAME=
GCP_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=/app/config/fifa-team-hub-key.json

LOCAL_STORAGE_PATH=
MAX_FILE_SIZE_MB=
ALLOWED_EXTENSIONS=pdf,jpg,jpeg,png,docx