# Banco de dados / Docker
POSTGRES_DB=fifa_team_hub
POSTGRES_USER=fifa_user
POSTGRES_PASSWORD=fifa_password

# Flask (Backend)
DATABASE_URL=postgresql://fifa_user:fifa_password@localhost:15432/fifa_team_hub
FLASK_ENV=development
SECRET_KEY=troque-por-qualquer-string-aleatoria

# Frontend
VITE_API_URL=http://localhost:8000
